@model ContactsWebApp.Models.DBEntities.Contact

@{
    ViewData["Title"] = "Create";
}
<!--Head dio gdje ucitavam jquery i bootstrap biblioteke-->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<!--Modalni dio forme putem koje unosim podatke-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="closeButton">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" required placeholder="First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" required placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PhoneNumber" id="PhoneNumber" class="form-control" required placeholder="XXX/XXX-XXX" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label">Gender</label>
                        <div class="form-check">
                            <input type="radio" asp-for="Gender" value="Male" class="male-radio" id="genderMale">
                            <label class="form-check-label" for="genderMale">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" asp-for="Gender" value="Female" class="female-radio" id="genderFemale">
                            <label class="form-check-label" for="genderFemale">Female</label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" required placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" required placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="Roles" class="form-control" required>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <input asp-for="DateOfBirth" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Age" class="form-control" type="text" required placeholder="Age" value="" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select id="listCountryId" asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId" onchange="FillCities(this,'listCity');"></select>
                    </div>
                    <div class="form-group">
                        <select id="listCity" asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Skripte koje se ucitavaju nakon prikaza bootstrap modala-->
<script src="~/js/modalScript.js"></script>
<script src="~/js/PhoneConvertScript.js"></script>

